.wrap {

	width: 100%;
	height: 200px;
	background-color: #2f3863;
	text-align: center;

}

.header {
	width: 1000px;
	height: 200px;;
	display: inline-flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;
}

.header > div:nth-child(3) > form > input[type=text], .header > div:nth-child(3) > form > input[type=submit]{
	padding: 12px;
}

.menuWrap {

	padding: 0;
	margin: 0;

	width: 100%;
	height: 50px;
	display: inline-flex;
	justify-content: center;

	background-color: #fefff7;

}

.menu{

	padding: 0;
	margin: 0;

	width: 1000px;
	height: 50px;

	display: inline-block;
	

}

.menu ul{
	margin: 0;
	padding: 0;
	width: 1000px;
	text-align: center;
	margin-top: 5px;
}

.menu > ul > li{
	font-size: 30px;
	margin-right: 40px ;



	display: inline-block;
	list-style-type: none;

}

.menu > ul > li:hover{
	
	border: gold 7px solid;
	border-top: none;
	border-left: none;
	border-right: none;

}

.menu > ul > li > a:hover + ul, .menu > ul > li > ul:hover{
	margin-top: 5px;
	display: block;
	position: absolute;
}

.menu > ul > li ul {
	font-size: 26px;
	background-color: #313a69;
	width: 220px;
	
	display: none;

	text-align: left;
}


.menu > ul > li > ul > li::marker {
	
	content: '';

}

.menu > ul > li > ul > li > a {


	text-decoration: none;
	color: #f5f5f5;

}

.menu > ul > li > ul > li > a:hover {
	text-decoration: underline;
}


.menu > ul > li > a{

	text-decoration: none;
	color: #303030;

}